body {
}


#pineapple
{
    background-image: url(./afbeelding/pineapple.png);
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    background-size: 100px;
    display: none;
}

#test
{
}